<% include header %>
<ul class="cont">
        <li class="cont-item shadow">
            <h2>About Me</h2>
            <p class="p-contain">
                I'm a senior studying Interactive
                Digital Media: Computer Science at 
                Northwest Missouri State University. 
                I hope to improve this site more over the 
                next couple months. My first change will likely be 
                a little more color 
            </p>
        </li>
        
    </ul>
<% include footer %>