<% include header %>
<ul class="cont">
        <form class="contact" method="POST">
            <label>Name</label>
            <input class="input" name="name" type="text">
            <label>Phone</label>
            <input class="input" name="phone" type="tel">
            <label>Email</label>
            <input class="input" name="item-stack" type="email">
            <label>Message</label>
            <textarea class="input" rows="10" cols="10"name="msg"></textarea>
            <button>Submit</button>
            <button>Reset</button>
        </form>
    </ul>
<% include footer %>