<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Me!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    

    <link rel="stylesheet" type="text/css" href="css/main2.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>




<body>
    <div class="contact"><!--temp solution to contact info modal-->
        <div class="contact-modal">
            <button id="contact-close">X</button>
            <form class="sm-form">
                <div class="row mt-5">
                    <div class="col">
                        <ul class="sm-list">
                            <li>
                                <label>First Name</label>
                                <input type="text" class="form-control" name="firstN">
                            </li>
                            <li>
                                <label>Phone Name</label>
                                <input type="tel" class="form-control" name="phone">
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="sm-list">
                            <li>
                                <label>last Name</label>
                                <input type="text" class="form-control" name="lastN">
                            </li>
                            <li>
                                <label>Email</label>
                                <input type="email" class="form-control" name="email">
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
    <div class="row">
        <!--need to set body's class to "row"-->
        <nav class="navi col-lg-4 ">
            <div class="navi-contain sticky">
                <h1 class="heading">
                    DESIGNER.<br>
                    DEVELOPER.<br>
                    PHOTOGRAPHER.<br>
                    UX ENTHUSIEST.
                </h1>
                <p class="navi-text">
                    Hi i'm Hayden. I work as an Application Programmer/Analyist
                    for <span class="">@Evergy</span>.<br> Scroll to follow my work or say hello!
                </p>
                <ul class="social">
                    <li>
                        <img src="img/github-logo.svg" width="40px" height="40px">
                    </li>
                    <li>
                        <img src="img/twitter.svg" width="40px" height="40px">
                    </li>
                    <li>
                        <img src="img/insta.svg" width="40px" height="40px">
                    </li>
                </ul>
                <button id="contact-open" class="btn-lg btn-blue mt-heavy"><a href="#">Say Hello!</a></button>
            </div>
        </nav>