<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Me!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="css/main2.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body class="row"><!--need to set body's class to "row"-->
    <!--Body tag closed in footer.ejs-->

    <!--
        Didn't have time to convert to bootstrap
        this code will be used after I make the transition
    -->
    <nav class="navi col-lg-4 col-sm-12 ">
        <div class="float-right">
            <img id="PP-Lg" src="img/Hayden.jpg" alt="Profile Picture">
            <div class="nav-info">
                <h4>Hayden Rainey</h4>
                <h5>Application Programmer</h5>
            </div>
            <ul class="nav-list">
                <li class="hover-red"><a href="index.html">Portfolio</a></li>
                <li class="hover-green"><a href="about.html">About</a></li>
                <li class="hover-yellow"><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </nav>
    <!-- <div class="navi">
            <div class="float-R">
                <img id="PP-Lg" src="img/Hayden.jpg" alt="Profile Picture">
                <div class="nav-info">
                    <h4>Hayden Rainey</h4>
                    <h5>Application Programmer</h5>
                </div>
                <button class="collapsible">
                    <div></div>
                    <div></div>
                    <div></div>
                </button>
                <ul class="nav-list">
                    <li class="hover-red"><a href="index.html">Portfolio</a></li>
                    <li class="hover-green"><a href="about.html">About</a></li>
                    <li class="hover-yellow"><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div> -->
