<% include header %>

<div class="col-lg-8 lv-contain">
    <ul class="listview">
        <li style="background-color:lightblue;">
            <h1>Projects</h1>
            <ul class="lg-list">
                <li class="float-item">
                    <a href="tic-tac-toe">
                        <div class="lg-list-desc">
                            <h4>Tic Tac Toe</h4>
                            <p>
                                Simple Tic Tac Toe bot featuring a minimax based AI.
                                Can you beat the machine?
                            </p>
                        </div>
                    </a>
                </li>
                <li class="float-item">
                    <a href="#">
                        <div class="lg-list-desc">
                            <h4>Item 2</h4>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora nesciunt fugit 
                            </p>
                        </div>
                    </a>
                </li>
                <li class="float-item">
                    <a href="#">
                        <div class="lg-list-desc">
                            <h4>Item 3</h4>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora nesciunt fugit 
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
            <h1 class="text-center">...</h1>
            <button class="btn-lg btn-yellow mt-heavy float-center"><a href="#">See More</a></button>
        </li>
        <li style="background-color: lightcoral;">
            <h2>Skills</h2>
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="text-center">Languages</h3>
                    <ul class="sm-list"><!--need to format sm-list-->
                        <li class="float-item">HTML</li>
                        <li class="float-item">JavaScript</li>
                        <li class="float-item">Css</li>
                        <li class="float-item">C#</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h4 class="text-center">Software & Frameworks</h3>
                    <ul class="sm-list">
                        <li class="float-item">Item1</li>
                        <li class="float-item">Item2</li>
                        <li class="float-item">Item3</li>
                    </ul>
                </div>
            </div>
        </li>
        <li style="background-color:lightsalmon;">
            <h2>Item 3</h2>
        </li>
    </ul>
</div>


<!-- <div class="main col-lg-8">
    <h2>body content </h2>
</div> -->
<!-- <ul class="cont">
        <li class="cont-item shadow">
            <h2>Tic Tac Toe</h2>
            <div class="img"></div>
            <a href="tic-tac-toe.html" class="btn center hover-blue">Click</a>
        </li>
        <li class="cont-item shadow">
            <h2>Nyan Cat</h2>
            <div class="imgContain">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/wZZ7oFKsKzY" frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen></iframe>
            </div>
        </li>
    </ul> -->
<% include footer %>