
<% include header %>
<!-- <div class="main col-lg-8">
    <h2>body content </h2>
</div> -->
<!-- <ul class="cont">
        <li class="cont-item shadow">
            <h2>Tic Tac Toe</h2>
            <div class="img"></div>
            <a href="tic-tac-toe.html" class="btn center hover-blue">Click</a>
        </li>
        <li class="cont-item shadow">
            <h2>Nyan Cat</h2>
            <div class="imgContain">
                <iframe width="400" height="200" src="https://www.youtube.com/embed/wZZ7oFKsKzY" frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen></iframe>
            </div>
        </li>
    </ul> -->
<% include footer %>




