<% include header %>
<div class="col-lg-8 lv-contain">
    <ul class="listview">
        <li style="background-color:lightblue;">
            <div class="game-board">
                <div id="item0" class="box"></div>
                <div id="item1" class="box"></div>
                <div id="item2" class="box"></div>
                <div id="item3" class="box"></div>
                <div id="item4" class="box"></div>
                <div id="item5" class="box"></div>
                <div id="item6" class="box"></div>
                <div id="item7" class="box"></div>
                <div id="item8" class="box"></div>
                <div id="winBanner">
                    <h1></h1>
                </div>
            </div>
            <aside class="infoBox shadow">
                <h2>Tic Tac Toe Bot</h2>
                <p>
                    Can you beat the machine?
                    Avoid pressing the restart button
                    it gives the bot an unfair advantage at the moment..

                </p>
                <span>
                    <button id="tttStart" type="menu">Start</button>
                    <button id="tttReset" type="menu">Reset</button>
                </span>
            </aside>
        </li>
    </ul>
</div>

<% include footer%>